*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}

.container{
  width:1200px;
  margin:auto;
}

/* TOP BAR */
.top-bar{
  height:36px;
  border-bottom:1px solid #ececec;
  font-size:12px;
  color:#777;
  display:flex;
  align-items:center;
}

/* HEADER */
.header-main{
  padding:18px 0;
  border-bottom:1px solid #ececec;
}

/* NAV */
.navbar{
  height:52px;
  background:#1a1a1a;
  color:white;
  display:flex;
  align-items:center;
}

/* PRODUCTS */
.product-grid{
  display:grid;
  grid-template-columns:repeat(4,1fr);
  gap:20px;
  padding:40px;
}

.product-img{
  width:100%;
  cursor:pointer;
  transition:0.3s;
}

.product-img:hover{
  transform:scale(1.05);
}

/* MODAL */
.modal{
  display:none;
  position:fixed;
  inset:0;
  background:rgba(0,0,0,0.7);
  justify-content:center;
  align-items:center;
}

.modal-img{
  width:450px;
  max-width:90%;
  background:white;
  padding:15px;
  border-radius:10px;
}

#close{
  position:absolute;
  top:20px;
  right:30px;
  font-size:40px;
  color:white;
  cursor:pointer;
}